<!-- 공통으로 모달을 사용할 수 있도록 변경할 것 -->
<!-- Modal 에이전트를 생성할 경우 -->
<div class="modal" id="createPlayer" role="dialog">
    <form class="modal-dialog" method="post" action="/api/v1//player/create" id="frm_create_agent">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Player</h4>
            </div>
            <div class="modal-body">
              {{#if agent_list}}
                  <div class="form-group">
                      <label>Parent Agent</label>
                      <select class="form-control" name="parent_agent">
                        {{#each agent_list}}
                            <option value="{{code}}">{{code}}</option>
                        {{/each}}
                      </select>
                  </div>
              {{/if}}
                <div class="form-group _has-error"> <!-- 에러가 있을 경우, has-error 클래스를 넣는다. -->
                    <label class="control-label">Player ID</label>
                    <input type="text" class="form-control create-agent-code" name="code" placeholder="at least 4 characters" autofocus required autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control pass" name="pass" placeholder="at least 4 characters" required autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control re_pass" name="re_pass" placeholder="at least 4 characters" required autocomplete="off"/>
                </div>
                <input type="hidden" name="top_parents_id" value="{{top_parents}}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-create-agent-submit">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->