
<header id="hd">
  <h1 class="title ellipsis">
      {{header}}
  </h1>
  <a href="#" class="nav_link">
      <img src="/static/images/ico_hamburg.png" alt="메뉴" width="25" class="ico_hamburg" />
  </a>
  {{#if (isEquals group_path 'contents') }}
  <a href="/course/{{training_user_id}}/{{course_id}}" class="exit_link">
      <img src="/static/images/img_exit.png" alt="강의페이지로 이동" width="25" class="ico_exit" />
  </a>
  {{/if}}
  <!--{{#ifCond (isEquals group_path 'education') '&&' (isEquals current_path 'passed') }}
  <a href="#" class="search_link" data-toggle="modal" data-target='#search-popup'>
      <i class="fa fa-search fa-lg" style="color: white; line-height: 100%"></i>
  </a>
  {{/ifCond}}-->
</header>