
<header id="hd">
  <h1 class="title ellipsis">
    {{header}}
  </h1>
  {{#ifCond current_path '!==' 'quickicon' }}
  <a href="#" class="nav_link">
    <img src="/static/images/ico_hamburg.png" alt="메뉴" width="25" class="ico_hamburg" />
  </a>
  {{/ifCond}}
  {{#if (isEquals group_path 'contents') }}
  <a href="/course/{{training_user_id}}/{{course_id}}" class="exit_link">
      <img src="/static/images/img_exit.png" alt="강의페이지로 이동" width="25" class="ico_exit" />
  </a>
  {{/if}}
</header>