
<header id="hd">
    <h1 class="title">
        {{header}}
    </h1>  
    <a href="#" class="nav_link">
        <img src="/images/ico_hamburg.png" alt="메뉴" width="25" class="ico_hamburg" />
    </a>
</header>