<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>오렌지나무</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <form role="form" id="form-agent-login" method="post" action="/login">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="핸드폰 번호" autofocus autocomplete="off" required />
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password"id="password" placeholder="암호" autocomplete="off" required />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbok">
                        <label><input type="checkbox" id="remember"> Remember Me</label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-danger btn-block btn-flat" id="btn-agent-login">로그인</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!--<a href="#">I forgot my password</a><br />-->
    </div>
    <!-- /.login-box-body -->
</div>
