
{{> header}}

<div class="evaluation_section">
  <h3 class="tit">강의 평가</h3>
  <div class="eval_rate">
    <div class="my-rating course" data-rating=""></div>
    <input type="hidden" name="course" class="" id="course" value=""/>
  </div>

  <hr class="divider" />

  <h3 class="tit">강사 평가</h3>
  <div class="eval_rate">
    <div class="my-rating teacher" data-rating=""></div>
    <input type="hidden" name="teacher" class="" id="teacher" value=""/>
  </div>

  <br /><br /><br />

  <a id="submit" href="{{next_url}}" style="text-decoration: none;">
    <div class="btn_submit" data-course-id="{{course_id}}">
      <span class="txt">제출하기</span>
    </div>
  </a>

</div>