<div class="login_section">
    <form role="form" method="POST" action="/login" class="frm_login">

        <legend>로그인</legend>
        <fieldset>
            <div>
              <h1 class="lg"><img src="/images/logo/{{logoImageName}}" alt="{{logo}}" class="img_lg" /></h1>
            </div>
            <div class="form_control_id">
                <input
                id="phone"
                type="number"
                name="cell"
                class="txt_input"
                placeholder="핸드폰 (번호만 입력)"
                required autofocus autocomplete="off"
                maxlength="11"
                autofocus
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                >
            </div>

            <div class="form_control_pw">
                <input type="password" name="password" id="password" autocomplete="off" required class="txt_input" placeholder="비밀번호" />
            </div>

            <div>
                <span id="remember" class="checkbox check_offπ"></span>
                <label for="remember" class="label_remember">핸드폰 번호 저장</label>
            </div>

            <br />

            {{#if message}}
            <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              {{message}}
              <a href="mailto:lucas@orangenamu.kr"> 관리자에게 문의하기</a>
            </div>
            {{/if}}
            <button id="submit" type="submit" class="btn_login">로그인</button>
        </fieldset>

        <a class="btn btn-ghost" href="/video-quick-icon">바로가기 아이콘 만드는 방법</a>
    </form>
</div>