
{{> page_header}}

<div class="login_section">
  <fieldset>

    <strong class="question">핸드폰 :</strong>
    <div class="not-select">
      <input
        id="phone"
        type="number"
        maxlength="11"
        placeholder="숫자만 입력"
        class="answer_quiz_input brd-round"
        required autofocus autocomplete="off"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
      />
    </div>
    <br />
    <button id="btn_modify_phone" class="btn_login">핸드폰 변경</button>

    <br /><br /><br />
    <strong class="question">이메일 :</strong>
    <div class="not-select">
      <input
        type="text"
        id="email"
        placeholder="abc@example.com"
        class="answer_quiz_input brd-round"
        required autofocus autocomplete="off"
      />
    </div>
    <br />
    <button id="btn_modify_email" class="btn_login">이메일 변경</button>

    <br /><br /><br />
    <strong class="question">비밀번호 :</strong>
    <div class="not-select">
      <input type="password" id="password" class="answer_quiz_input brd-round" />
    </div>

    <br />
    <strong class="question">비밀번호 확인 :</strong>
    <div class="not-select">
      <input type="password" id="password_confirm" class="answer_quiz_input brd-round" />
    </div>

    <br />
    <button id="btn_modify_password" class="btn_login">비밀번호 변경</button>

  </fieldset>
</div>