{{> header}}

<section id="video_section">
  <div class="videoplayer"
    id="videoplayer"
    data-vimeo-id="219799354"
    data-vimeo-responsive="1">
  <div>
</section>

<section id="video_section">
  <div id="videoplayer"
    data-vimeo-id="219799019"
    data-vimeo-responsive="1"
    class=""
    style="padding: 10px 10px 0 10px;">
  <div>
</section>

<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <p>브라우져 종류나 핸드폰 기종에 따라 보여지는 형태는 다를 수 있습니다.</p>
</div>

<div class="custom-button">
  <a href="/login">돌아가기</a>
</div>


