{{> header}}

<div class="alert-message">
  <!--<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>-->
  <p>기본 브라우져에서 바로가기 추가 방법</p><br>
  <p>안드로이드</p><br>
  <p>
    <ol>
      <li>1. 인터넷 브라우저 실행</li>
      <li>2. <i class="fa fa-bars" aria-hidden="true"></i> (메뉴) 버튼 클릭</li>
      <li>3. ' 홈화면에 바로가기 추가 ' 버튼 클릭</li>
      <li>4. 바탕화면에 생성된 바로가기 아이콘 확인</li>
    </ol>
  </p><br>
  <p>아이폰</p><br>
  <ol>
    <li>1. 인터넷 브라우저 실행</li>
    <li>2. <img src="/static/images/iphone_share.png" alt="{{logo}}" width="12" class="" /> (공유버튼) 클릭</li>
    <li>3. ' 홈 화면에 추가 ' 버튼 클릭</li>
    <li>4. 바탕화면에 생성된 바로가기 아이콘 확인</li>
  </ol>
</div>

<section id="video_section_android">
  <div class="videoplayer"
    id="videoplayer-android"
    data-vimeo-id="219799354"
    data-vimeo-responsive="1">
    <h4 style="display: block;">안드로이드</h4>
  <div>
</section>

<section id="video_section_iphone">
  <div class="videoplayer"
    id="videoplayer-iphone"
    data-vimeo-id="219799019"
    data-vimeo-responsive="1">
    <h4 style="display: block;">아이폰</h4>
  <div>
</section>

<a class="btn btn-ghost" style="margin: 10px 10px;" href="/login">돌아가기</a>
<br><br><br>