{{> header}}

<div class="alert">
  <!--<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>-->
  <p>브라우져의 종류나 핸드폰 기종에 따라 보여지는 형태는 조금 다를 수 있습니다.</p>
</div>

<section id="video_section_android">
  <div class="videoplayer"
    id="videoplayer-android"
    data-vimeo-id="219799354"
    data-vimeo-responsive="1">
    <h4 style="display: block;">안드로이드</h4>
  <div>
</section>

<section id="video_section_iphone">
  <div class="videoplayer"
    id="videoplayer-iphone"
    data-vimeo-id="219799019"
    data-vimeo-responsive="1">
    <h4 style="display: block;">아이폰</h4>
  <div>
</section>

<a class="btn btn-ghost" style="margin: 10px 10px;" href="/login">돌아가기</a>
<br><br><br>


