@charset "utf-8";

/* .wrapper {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
} */

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.content {
  padding: 20px;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}


/* common */
.center{
	text-align: center;
}

.blind{
	display: none;
}

.txt-warning{
	color: red;
}

.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.body_black{
	background: #000;
}

/* login form */
.login_section{
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.terms {
  padding: 20px;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.frm_login{
	max-width: 1024px;
	margin:0 auto;
}

.frm_login .img_lg{
	width: 50%;
  display: block;
  margin: 0 auto;
}

.txt_input{
	border: none;
	font-size: 16px;
	color: #929292;
	padding: 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn_terms_agree{
	background: #FF9200; /*#4baf4d;*/
	text-align: center;
	color: #fff;
	font-size: 16px;
	width: 100%;
	line-height: 45px;
	border-radius: 5px;
}

.btn_find_pw{
	font-size: 13px;
	color: #c4c4c4;
	display: inline-block;
	margin-top: 20px;
}

.frm_login .checkbox{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url('../images/ico_check.gif') no-repeat 0 0;
}

.frm_login .check_on{
	background-position: -20px 0;
}

.frm_login .check_off{
	background-position: 0 0;
}

.label_remember{
	position: relative;
	top: -5px;
	color: #646264;
	cursor: pointer;
}

.form_control_pw{
	border-top: 1px solid #ababab;
	margin-top: 13px;
	padding-top: 13px;
	margin-bottom: 13px;
}

.error_alarm{
	margin-top: 10px;
}

.form_control_id{
	margin-top: 40px;
}


/* header */
#hd{
	height: 45px;
	background: #FF9200; /* #42b24c;*/
	position: relative;
	z-index: 999;
}

#hd .title{
	color :#fff;
	font-size: 16px;
	text-align: center;
	line-height: 47px;
	font-weight: normal;
	padding-left: 40px;
	padding-right: 20px;
	height: 49px;
}

#hd .btn_back{
	position: absolute;
	top: 0;
	left: 0;
	padding: 13px 10px 7px 10px;
}

.item_wrap{
	border-bottom: 1px solid #eee;
}

.list_item{
	display: block;
	padding: 5px;
	margin: 5px;
	position: relative;
	padding-left: 120px;
	height: 115px;
}

.list_item .img_list{
	position: absolute;
	top: 10px;
	left: 10px;
}

.list_item .info{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
}

.list_item .tit,
.list_item .author,
.list_item .progress,
.list_item .achievement
{
	display: block;
}

.list_item .author{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 13px;
	color: #929292;
}

.list_item .progress_bg{
	display: block;
	height: 5px;
  margin-bottom: 5px;
	background: #E1E0E3; /*#454749;*/
}

.list_item .progress{
	display: block;
	height: 5px;
	background: #FFB774; /*#42b24c;*/
}

.list_item .achievement{
	margin-top: 5px;
  margin-bottom: 5px;
	font-size: 13px;
	font-weight: normal;
	color: #929292;
}

.no_img_list{
	padding-left: 0 !important;
}

.no_img_list .info{
	margin-left: 10px;
}

.no_img_list .img_list{
	display: none;
}

.eval_rate{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.eval_rate .bg_star{
	background:url('../images/bg_star.png') no-repeat 0 0;
	width: 150px;
	height: 26px;
	display: inline-block;
	text-align: left;
}

.eval_rate .eval_star{
	background:url('../images/bg_star.png') no-repeat 0 -28px;
	display: inline-block;
	height: 26px;
	text-align: left;
}


.course_info{
	padding: 10px;
}

.course_info .tit{
	font-size: 18px;
	text-align: center;
}

.course_info .desc{
	font-size: 13px;
	color :#727272;
	margin-top: 10px;
  margin-bottom: 10px;
	line-height: 20px;
}


.course_info .btn_more{
	border: 1px solid #dee1e3;
	padding: 5px 0;
	display: block;
	margin: 10px 20px 0 20px;
	color :#2e82ed;
	font-size: 13px;
	text-align: center;
}

.course_info ul {
  margin-left: 2em;
}

.course_info ul li {
  display: list-item;
  list-style-type: initial;
}

.course_info ol {
  margin-left: 2em;
}

.course_info ol li {
  display: list-item;
  list-style-type: decimal;
}

.course_info a {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}

.divider{
	width: 100%;
	height: 30px;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	background :#f0eff5;
}



.curriculum{
	padding: 10px;
}

.curriculum .tit{
	font-size: 18px;
	text-align: center;
}

.session{
	margin-top: 10px;
}

.session .sess_list{
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 35px;
	margin-bottom: 10px;
}

.ico{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	background:url('../images/ico_course.png') no-repeat 0 0;
}

.session .unlock{
	background-position: 0 0;
	top: 0;
	right: 0;
}

.session .lock{
	background-position: 0 -30px;
	top: 0;
	right: 0;
}

.session .video{
	background-position: -34px 1px;
	top: 0;
	left: 0;
}

.session .test{
	background-position: -69px 1px;
	top: 0;
	left: 0;
}

.session .quiz{
	background-position: -34px -30px;
	top: 0;
	left: 0;
}


.session .txt{
	font-size: 13px;
	display: block;
}

.ico_play{
	background-position: -69px -30px;
	position: relative;
	top: 13px;
	left: -5px;

}

.btn_play{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #FF9200; /*#42b24c;*/
	font-size: 16px;
	text-align: center;
	height: 60px;
	color :#fff;
	cursor: pointer;
}

.btn_play .txt{
	position: relative;
	top: 8px;
}

.btn_login{
	width: 100%;
	background: #FF9200; /*#42b24c;*/
	font-size: 16px;
	text-align: center;
	height: 60px;
	color :#fff;
	cursor: pointer;
  border-radius: 5px;

	/*background: #FF9200;
	text-align: center;
	color: #fff;
	font-size: 16px;
	width: 100%;
	line-height: 45px;
	border-radius: 5px;*/
}

.btn_login .txt{
	position: relative;
	top: 8px;
}


.evaluation_section{
	padding: 20px;
	margin-top: 40px;
}

.evaluation_section .tit{
	text-align: center;
	font-size: 18px;
	color :#000;
}

.tit > small {
  color: #929292;
}

.evaluation_section .divider{
	display: block;
	border: none;
	border-top: 1px solid #c9c9c9;
	height: 1px;
	margin: 20px 0;
}

.btn_submit{
	line-height: 40px;
	text-align: center;
	background: #4baf4d;
	border-radius: 5px;
	cursor: pointer;
}

.btn_submit .txt{
	color :#fff;
	font-size: 15px;
}

.btn-clr-orange{
	background-color: #f36532;
}

.btn-clr-grey{
	background-color: #8a8a8a;
}

.endOfCourse .next-course{
	margin-bottom: 5px;
}

.endOfCourse .tit{
	margin-bottom: 100px;
	margin-top: 60px;
}

/* video view */
.video_section{
	text-align: center;
}

.tmp_video{
	width: 100%;
	position: absolute;
	top: 50%;
}


.btn-orange{
	background: #f46533;
}

.btn-grey{
	background: #454749;
}

.btn-grey .txt{
	color: #6a6c6d;
}

/* quiz */
#quiz_section{
	padding: 20px;
}

.quiz_select .question{
	font-size: 15px;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

.quiz_select .selection .link {
	display: block;
	/* height: 20px; */
	/* padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden; */
}

.radio {
  float:left;
}
.radio input {
  vertical-align:middle;
}
.quiz-label {
  font-size: 15px;
	margin-left: 35px;
	line-height: 32px;
  float:left;
}
.clear {
  clear:both;
}

.ico_unchecked{
	background-position: 0 -60px;
}

.ico_checked{
	background-position: -35px -60px;
}


/* .quiz_select .selection .answer{
	font-size: 15px;
	margin-left: 35px;
	line-height: 35px;
} */

.quiz_select{
	margin-bottom: 30px;
}


.result_quiz{
	font-size: 13px;
	color: #ff0000;
	margin-top: 15px;
}

.quiz_select .correct{
	color: #42b24c;
}

.answer_quiz_input{
	border: 1px solid #454749;
	background: #f2f2f2;
	font-size: 13px;
	padding: 4px;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
    text-align: center;
}

.answer_quiz_input:focus{
	background: #fff;
}

.brd-round{
	border-radius: 10px !important;
}

.input_correct{
	border-color: #42b24c;
}

.input_wrong{
	border-color: #f00;
}

.nav_link{
	position: absolute;
	top: 5px;
	left: 10px;
	width: 30px;
	height: 30px;
}

.exit_link{
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
  right: 0px;
}

.search_link{
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
  right: 0px;
}

.back_link{
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
  right: 0px;
}

#navigation{
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	z-index: 999999;
	background: #F5ECDA; /*#27313d;*/
}

.nav_list a{
	color :#3E3E3E; /*#bdc3c7;*/
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 30px;
}

.nav_list li{
	border-bottom: 1px solid #1e2832;
}

.bg_screen{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background :#191919;
	opacity: 0.8;
	z-index: 99999;
}

.ico_hamburg{
	position: relative;
	top: 9px;
}

.ico_exit{
	position: relative;
	top: 5px;
}

.img_logo{
	left: 10px;
  display: table-cell;
  vertical-align: middle;
  padding: 0px 5px;
}

.logo-txt{
	color :#fff;
	position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0px 5px;
}

.logo_section {
  padding-bottom: 10px;
  background: #000;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

@media screen and (orientation: landscape) {
  .centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto
  }
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
  }

  .btn_play {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FF9200; /*#42b24c;*/
    font-size: 16px;
    text-align: center;
    height: 60px;
    color :#fff;
    cursor: pointer;
  }

.btn-orange{
	background: #f46533;
}
}

.text-red {
  color: #dd4b39 !important;
}

.text-deactivated {
  color: #ddd !important;
}

.img-container {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    z-index: -1;
}

.img-container img {
    /*position: relative;*/
    /*left: 0;*/
    /*top: 0;*/
    width: 100%;
    max-width: 40%;
    height: auto;
    /*padding: 10px 10px 10px 10px;*/
    opacity: 0.6;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.search_section {
	padding: 20px;
}

.search_section_input {
  width: 100%; /* 원하는 너비설정 */
  padding: .5em .5em; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  border: 1px solid #999;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
}

.search_input {
    background-image: url('../images/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-top: 5px; /* Add some space below the input */
    margin-bottom: 5px; /* Add some space below the input */
}

select {
  width: 100%; /* 원하는 너비설정 */
  padding: .5em .5em; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: url('../images/arrow_down.jpg') no-repeat 100% 50%; /* 네이티브 화살표 대체 */
  border: 1px solid #999;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
}

.search_section .radio {
  padding-bottom: 5px;
}

.point_list_item{
	display: block;
	padding: 5px;
	margin: 5px;
	position: relative;
	padding-left: 120px;
	/*height: 98px;*/
}

.point_list_item .info{
	display: block;
	margin-top: 2px;
  margin-bottom: 2px;
	font-weight: bold;
	font-size: 16px;
}

.point_list_item .tit,
.point_list_item .point,
.point_list_item .period
{
	display: block;
}

.point_list_item .point{
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: normal;
	font-size: 13px;
	color: #00AA39;
  float: left;
}

.point_list_item .period{
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: normal;
	font-size: 13px;
	color: #929292;
  float: right;
}

table {
  /*border-collapse: collapse;*/
  width: 100%;
}

.table_checklist th, td {
  /*padding: 8px;*/
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

/* checklist */
#checklist{
	padding: 20px;
}

.checklist {
  padding: 20px 10px 20px 10px;
  background-color: cornsilk;
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
}

.alert-message {
  margin: 15px 10px;
  padding: 10px 10px;
  background-color: #FE8484;
  color: white;
  /*margin: 15px 0;*/
  font-size: 13px;
  line-height: 150%;
}

.alert a {
  color: white;
  font-size: 13px;
  line-height: 150%;
  text-decoration: underline;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.need-help
{
    margin-top: 20px;
    text-align: center;
    border: 2px solid #FF9200;
    padding: 10px;
}

.need-help a {
  color: #FF9200;
}

.custom-button
{
    margin: 10px;
    text-align: center;
    border: 2px solid #FF9200;
    padding: 10px;
}

.custom-button a {
  color: #FF9200;
}

.videoplayer {
  padding: 20px 20px 20px 20px;
}

.btn:link,
.btn:visited {
    margin: 10px auto;
    display: block;
    width: auto;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.img-kakao img {
  width: 100%;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.btn-play {
  text-decoration: none;
}

.table_checklist {
  width: 100%;
}

.table_checklist th, td {
  border: 1px solid;
  text-align: left;
}

.progress-status {
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-text{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 13px;
  border-style: solid;
  padding: 2px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.alignright:after {
  clear: both;
}

.pagination {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 16px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.yearmonth {
  font-size: 22px;
  border-bottom: 1px solid;
  margin: 20px 20px;
}

/* .notice {
  padding: 10px;
} */

.marquee {
  width: 100%;
  height: 40px;
  /* margin: 25px auto; */
  overflow: hidden;
  /* background: black; */
}

/* .marquee a {
  color: rgb(202, 255, 195);
} */

ul.marquee li {
  padding: 2px 0px 2px 2px;
  margin-bottom: 2px;
  /* border-bottom: 1px solid rgb(255, 217, 0); */
  font-size: 15px;
  display: block;
  text-align: left;
}

ul.marquee li:last-child {
  border-bottom: 0px;
}

/* ul.marquee li:before {
  content: "\f0a2";
  padding-right: 10px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
} */

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

.banner {
  /* display: block; */
  padding: 5px 5px;
}

.banner .banner-item {
  /* border: 1px solid rgb(233,171,88); */
  /* border-radius: 5px; */
  /* background-color: rgba(233,171,88,.5); */
  border-bottom: 1px solid rgb(233,171,88);
  padding-bottom: 0.2em;
  color: #d9480f;
}

.notice {
  padding: 10px;
}