@charset "UTF-8";
// commons
.blind{
  display: none;
}

// Home page view
.home_section{

  .select2-container--default {
    .select2-selection--single{
      height: 34px !important;
    }
  }

  .select2-container--default {
    .select2-results>.select2-results__options {
      max-height: 227px !important;
    }
  }

  .select2-container--default{
    .select2-selection--single {
      .select2-selection__arrow {
        top: 4px !important;
      }
    }
  }

  .btn-white{
    background: #fff !important;
    border-color: #aaa !important;
  }
}

.agent_balance{
  font-size: 15px;
}

.btn-clear{
  margin-left: 10px;
}

// player

.player_section{
  .nickname{
    height: 34px !important;
    width: 150px;
  }

  .btn-white{
    background: #fff !important;
    border-color: #aaa !important;
  }

  .btn_search{
    position: relative;
    left: -1px;
  }
}