<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>{{current_path}}</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">{{current_path}}</li>
    </ol>
</section>
<!-- // page header -->